body {
    font-family: Arial;
    font-size: 13px;
    color: #1a202c;
}

#header {
    background: #1a202c;
}

#search, #cart {
    padding: 15px;
}

#search input {
    width: 280px;
    border-radius: 3px 0 0 3px;
    height: 30px;
    font-size: 13px;
}

#search button {
    height: 30px;
    border-radius: 0 3px 3px 0;
    width: 80px;
    color: #89e2c2;
    background: #be2617;
    font-size: 13px;
}

#cart {
    text-align: right;
}

#cart a {
    color: #fff;
    margin-right: 10px;
}

#cart span {
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #ff3333;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}


#body{
    background: #e7ecf4;
}

#menu ul {
    margin: 0;
    padding: 0;
    background: #89e2c2;
    overflow: hidden;
}

#menu ul li {
    list-style: none;
    float: left;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    border-right: 1px solid #1cc88a;
}

#menu ul li a {
    font-size: 13px;
    color: #cbd3e9;
}

.products h3{
    font-size: 18px;
    padding-top: 15px;
}

.products img{
    width: 128px;
    height: 160px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.products p span{
    color: #2c9faf;
    font-weight: bold;
}

.products-item{
    margin-right: 5px !important;
    margin-left: 5px !important;
    text-align: center;
}
.products-list{
    margin-right: -5px !important;
    margin-left: -5px !important;
}
#footer-top{
    padding-top: 20px;
}

#address h5, #business h5, #hotline h5{
    font-size: 18px;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
}